@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
*{
  margin: 0;
  padding: 0;

  --black: #000101ff;
--seasalt: #F8F8F7ff;
--white-smoke: #F3F2F1ff;
--mindaro: #DDEF7Bff;
--onyx: #3D3D3Dff;
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}